<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BookReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BookReader.Properties.Settings>
            <setting name="Catalog" serializeAs="String">
                <value>c:\BD</value>
            </setting>
            <setting name="ImageCacheCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ImageCacheDuration" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="UseDebug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageFilter" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.PNG</string>
                        <string>.BMP</string>
                        <string>.JPG</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="BookFilter" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.CBR</string>
                        <string>.CBZ</string>
                        <string>.ZIP</string>
                        <string>.ARJ</string>
                        <string>.CAB</string>
                        <string>.CHM</string>
                        <string>.CPIO</string>
                        <string>.DEB</string>
                        <string>.DMG</string>
                        <string>.HFS</string>
                        <string>.ISO</string>
                        <string>.LZH</string>
                        <string>.LZMA</string>
                        <string>.MSI</string>
                        <string>.NSIS</string>
                        <string>.RAR</string>
                        <string>.RPM</string>
                        <string>.UDF</string>
                        <string>.WIM</string>
                        <string>.XAR</string>
                        <string>.Z</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UseAutoFit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExplorerSize" serializeAs="String">
                <value>190</value>
            </setting>
        </BookReader.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
